## .NET Core
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs

## Visual Studio
.vs/
*.ncrunch*
*.dotCover
*.resharper
_ReSharper*/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Distribution folder (for releases)
!dist/
dist/*
!dist/README.md 

github/